name: Backport merged pull request

on:
  pull_request_target:
    types: [closed, labeled]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/backport-module.yml
    # Optional: customize the label pattern
    # with:
    #   label_pattern: '^backport ([^ ]+)$'
